.express, .fiat {
    color: red;
    font-size: 12px;
}
.express-test1 {
    color: red;
    font-size: 12px;
}

#express {
    color: red;
    font-size: 12px;
}

#otc {
    color: red;
    font-size: 12px;
}
div {
    color: red;
    font-size: 12px;
}
p {
    color: red;
    font-size: 12px;
}
span {
    color: red;
    font-size: 12px;
}
